{
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.svg"],
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.hbs",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.xml",
      "options": {
        "xmlSelfClosingSpace": true,
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
